// @import '~antd/lib/style/themes/default.less';
// @import '~antd/dist/antd.less'; // 引入官方提供的 less 样式入口文件

// @primary-color: #1781b5; // 全局主色
// @link-color: #1781b5;// 链接色
// @border-color-base: #1781b5; // 边框色
.wrap {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color:#F0F2F5;
  overflow: hidden;
  overflow-y: scroll;
  .container{
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    max-width:900px;
    width:100%;
    background-color: #fff;
    .header_wrap{
      display: flex;
      align-items: center;
      color: #fff;
      height: 5rem;
      padding: 0 1rem;
      background-color: #1781b5;
      justify-content: space-between;
      .na_item{
        flex:1;
      }
      .nav_item_tools{
        flex:0 0 4rem;
      }
    }
    .content_wrap{
      padding: 1rem 1rem;
    }
  }
  .footer_wrap{
    margin: 0 auto 0;
    height: 3rem;
    max-width:900px;
    width: 100%;
    background-color: #66a9c9;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    nav{
      a{
        color: #fff;
        vertical-align: middle;
      }
    }
  }
} 

@media (max-width:375px) {
  .wrap {
    .container {
      width: 375px;
      // padding: 0.5rem;
      overflow-x: hidden;
      overflow-y: scroll;
      .header_wrap{
        padding: 0.5rem;
        height: 2rem;
      }
      .content_wrap{
        padding: 0.5rem;
      }
    }
    .footer_wrap{
      width: 375px;
      height: 1rem;
      padding: 0 0.5rem;
    }
  }
}

@media (min-width:375px) and (max-width: 600px) {
  .wrap {
    .container {
      width: auto;
      .header_wrap{
        padding: 0.3rem;
        height: 3rem;
      }
      .content_wrap{
        padding: 0.3rem;
      }
    }
    .footer_wrap{
      width: auto;
      height: 1.5rem;
      padding: 0 0.3rem;
    }
  }
}

@media (min-width:600px) and (max-width: 767.98px) {
  .wrap{
    .container{
      width: 600px;
      .header_wrap {
        padding: 0.5rem;
        height: 3.5rem;
      }
      .content_wrap {
        padding: 0.5rem;
      }
    }
    .footer_wrap{
      width: 600px;
      height: 1.75rem;
      padding: 0 0.5rem;
    }
  }       
}

@media (min-width:770px) and (max-width:900px){
  .wrap{
    .container {
      width: 700px;
      .header_wrap {
        padding: 0.8rem;
        height: 4rem;
      }
      .content_wrap{
        padding: 0.8rem;
      }
    }
    .footer_wrap{
      width: 700px;
      height: 2rem;
      padding: 0 0.8rem;
    }
  }
}

@media (min-width:900px) and (max-width:1200px){
  .wrap{
    .container {
      width: 800px;
      .header_wrap{
        padding: 1rem;
        height: 5rem;
      }
      .content_wrap {
        padding: 1rem;
      }
    }
    .footer_wrap{
      width: 800px;
      height: 2.5rem;
      padding: 0 1rem;
    }
  }
}